body {
    background-color: rgb(16, 16, 16);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #17D4FE;
    font-size: 60px;
    transform: translate(-50%, -50%);
}